@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
// @import "../../node_modules/bootstrap-icons/font/bootstrap-icons";

html,
body {
  min-height: 100%;
}

.header-logo {
  background-image: url("../../img/logo-yellow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  // max-width: 320px;
  height: 100px;
}

.max-width-1200 {
  max-width: 1200px;
}
.max-width-800 {
  max-width: 800px;
}
.max-width-300 {
  max-width: 300px;
}

.movie-poster {
  max-width: 75px;
  // transition: all 0.3s ease-in-out;
  // &:hover {
  //   max-width: 150px;
  // }
}
.profile-image {
  width: 50px;
  max-width: 100%;
}

.nav-link {
  &:hover {
    background-color: $bg-warning;
    color: $bg-danger;
    border-radius: 8px;
  }
  .active {
    color: $bg-danger;
  }
}

.bannerImage {
  background-image: url("../../img/banner.jpg");
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.avatarImage {
  background-image: url("https://t4.ftcdn.net/jpg/00/97/00/09/360_F_97000908_wwH2goIihwrMoeV9QF3BW6HtpsVFaNVM.jpg");
  width: 100px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
}

.news {
  // height: 100px;
  max-width: 100%;
}

.back-to-top-button {
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 9;
  cursor: pointer;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.back-to-top-button::before {
  content: "\25B2";
}
.back-to-top-button:hover {
  background-color: rgb(94, 67, 32) !important;
  color: white !important;
}

.back-to-top-button-show {
  opacity: 0.8;
}
.out-of-view-menu-text {
  position: absolute;
  left: -10000px;
}

.bi-chevron-up {
  display: none;
}

.hidden-content {
  display: none;
}

.hidden {
  display: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

.searching {
  display: none;
}

.rounded-bottom-2 {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.comments-container::-webkit-scrollbar {
  width: 12px; /* Adjust the scrollbar width as needed */
  border-radius: 0.5rem; /* Roundness of the scrollbar track */
}

.comments-container::-webkit-scrollbar-track {
  // width: 10px;
  background: #4747478c; /* Color of the scrollbar track */
  border-radius: 0.5rem; /* Roundness of the scrollbar track */
}

.comments-container::-webkit-scrollbar-thumb {
  width: 10px; /* Adjust the thumb width as needed */
  background: #ffc73b; /* Background color of the scrollbar thumb */
  border-radius: 0.5rem; /* Roundness of the scrollbar thumb */
}

.comments-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}
